# dependencies
node_modules

# output
dist
out
*.tgz

# coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
.astro

# editors
.idea
.vscode

# OS
.DS_Store
